a {
    text-decoration: none;
    color: #222;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

header .login-box {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.border-shadow {
    border: 1px solid #eee;
    box-shadow: 1px 3px 5px #ccc;
    text-align: center;
    background-color: #f0f0f0;
    font-family: Arial !important;
}

.border-shadow th {
    padding-top: 10px !important;   
    padding-bottom: 10px !important; 
}

.text-center {
    text-align: center;
}


.logo {
    font-size: var(--font-size-logo);
    font-weight: 700;
    margin-bottom: 80px; 
}

#site-main {
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 114px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.button-box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px; 
}

.button-box > a {
    font-size: 1em;
    padding: .5em 1em;
    background-color: rgb(223, 223, 223);
    border: 1px solid #ddd;
}

.button-box i {
    margin-right: .5em;
}

.actions-icons {
    display: flex; 
    gap: 5px; 
    justify-content: center;
    align-items: center;
}


.btn.update,
.btn.delete {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 32px; 
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    box-sizing: border-box;
    color: white; 
    cursor: pointer; 
    border: none; 
}

.btn.update {
    background-color: #2196F3;
    width: 29.83px;
}

.btn.delete {
    background-color: #ff5858 !important;
    padding: 9px;
    width: 24px;
}


.actions-icons form {
    display: inline;
}



#site-main form:not([class="login-form"]) button[type="submit"] {
    width: 100%;
    background-color: #eee;
    border: 1px solid #ddd;
    transition: background-color .5s ease;
}

#site-main form:not([class="login-form"]) button[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}


#site-main .container form {
    margin: 2em 0;
}

#site-main h2 {
    font-size: 1.6em;
    margin-bottom: 1em;
    text-align: center;
}

#site-main p {
    color: #aaa;
    font-size: 1em;
    margin-bottom: 2em;
    text-align: center;
}

.user-info {
    max-width: 620px;
    text-align: left;
    
}

.user-info label {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.user-info input[type="text"],
.user-info input[type="password"] { 
    width: 100%;
    padding: .6em 1em;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    font-size: 1em;
    border-radius: .2em;
}
/* --- 5. Form Styles (사용자 수정/추가 폼) --- */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 3em auto;
}


.form-box {
    background-color: #d9d9d9;
    padding: 60px; 
    width: 100%;
    max-width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 5px;
}

/* --- Login/Register Form Styles --- */
.login, 
.register {
    width: 80%;
    margin: 30px auto;
}
.login label,
.register label {
    visibility: hidden;
}
.login input,
.register input {
    display: block;
    width: 60%;
    padding: 10px;
    margin-top: 25px;
    font-size: 15px;
    border: none;
    outline: none;
    border-bottom: 2px solid #eee;
}
.login-btn,
.register-btn {
    border: none;
}

hr {
    border: none;
    margin-top: 30px;
}

/* --- Responsive Table (반응형 테이블) --- */
@media only screen and (max-width: 800px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ddd;
    }

    td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
    }
}

.edit-button {
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

a.btn.btn-light {
    text-decoration: none !important; /* !important를 사용하여 다른 스타일 무시하고 최우선 적용 */
    color: black;
    cursor: pointer;
}